@use "bulma/bulma";
@use "aos/dist/aos.css";

$gray: #48474a;

$cyan: #21897E;
$blue: #7EBCE6;
$aqua: #69D1C5;
$mist: #3BA99C;
$periwinkle: #8980F5;

h1, h2, h3, h4, h5, h6 {
  color: $gray !important;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $gray;
  background-color: $aqua;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, button:hover {
  color: $periwinkle;
}

* {
  box-sizing: border-box;
}

.icon {
  margin: 0 1rem;
}

svg.icon {
  path {
    fill: $periwinkle;
  }
}
